* {
    background-color: burlywood;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.result {
    background-color: blueviolet;
    width: 600px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    font-size: 260px;
}

.buttons {
    width: 250px;
    height: 30px;
    margin: auto;
}

.plus, .minus, .reset {
    background-color: blue;
    border-radius: 11px;
    width: 250px;
    height: 30px;
    margin: 20px;
}